/* #region ASSETS */
*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
 
    
/* #endregion ASSETS */

/* #region DEBUG */
/* 
.jumbo p{
    font-size: 5rem;
    color: #ffffff;
    opacity: 0;
} */

/* #endregion DEBUG */

/* #region HEADER */
.upgrade {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right:5px ;
    width: calc(100vw - 215px);
    background-color: rgba(0, 0, 0, 0.5);
    height: 85px;
    position: fixed;
    right: 0;
}

.upgrade button{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border: 1px solid white;
    padding: 0.5rem 2rem;


}


/* #endregion HEADER */

/* #region MAIN MENU*/
.main_menu{
    height:calc(100vh - 85px);
    width:215px ;
    background-color: black;
    position: fixed;
    color: white;
    font-size: 1rem;
    overflow: hidden;
}

.xs_display{
    display: none;
}

.main_menu span:hover{
    color: white;
}

/* #region NAVIGAZIONE */
.home img{
    height: 1.3rem;
    padding-right: 0.3rem;
    
    
}

.home{
    display: flex;
    align-items: flex-end;
    padding-left: 1.3rem;
    margin-top: 1rem;
    border-left: 2px solid #ADFF2F ;
}

.cerca img{
    height: 1.3rem;
    padding-right: 0.3rem;
    
    
}

.cerca{
    display: flex;
    align-items: flex-end;
    padding-left: 1.3rem;
    padding-top: 0.5rem;
    color: #a3a3a3;
    
}

.libreria img{
    height: 1.3rem;
    padding-right: 0.3rem;
    
    
}

.libreria{
    display: flex;
    align-items: flex-end;
    padding-left: 1.3rem;
    padding-top: 0.5rem;
    color: #a3a3a3;
}

.logo{
    height: 2.3rem;
    padding-top: 1.3rem;
    padding-left: 1.3rem;
}

/* #endregion NAVIGAZIONE */

/* #region PLAYLIST */
#playlist{
    margin-top: 1.2rem;
    padding-left: 1.3rem;
}


  .crea{
      color: #a3a3a3;
    padding-left: 0.6rem;
}

.aggiungi{
    background-color: #a3a3a3;
    font-size: 2rem;
    color: black;
    padding: 0 0.5rem;
}

.crea_playlist{
    display: flex;
    align-items: center;
}
/* #endregion PLAYLIST */

/* #region NOME PLAYLIST */
.nome_playlist {
    margin-top: 1rem;
    line-height: 1.5rem;
    color: #a3a3a3;
}

/* #endregion NOME PLAYLIST */

/* #region INSTALLA APP */
#installa{
    width: 80%;  
    margin-top: 25%;
    padding-left: 1.3rem;
    padding-bottom: 0.4rem;
    
 }
 
 #installa hr{
     border:1px solid #a3a3a3;
     margin: 0.8rem 0;
    }

    #installa p{
    color: #a3a3a3;
    font-size: 0.6rem;

    
}

#installa .name{
    color: white;
}

 .arrow, .fa-user{
     border-radius: 50%;
     padding: 0.2rem;
     border: 1px solid #a3a3a3;
     margin-right: 0.8rem;
 }
 
 .fa-user{
    background-color: #a3a3a3;
}

/* #endregion INSTALLA APP*/


/* #endregion MAIN MENU*/

/* #region MAIN JUMBO */
.jumbo{
    margin-left: 215px ;
   background-color: rgba(20, 25, 34, 1);
  padding-top: 85px;
}

.jumbo h2{
    
    color: white;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
/* #region SEZIONI */
.sezioni{
    color: #a3a3a3;
    padding:1rem 0 ;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.sezioni span:hover{
    color: white;
}



.container{
    width: 60%;
    margin: auto;
}

.evidenziato{
    border-bottom: 2px solid #ADFF2F;
    padding-bottom: 2px;

}
/* #endregion SEZIONI */

/* #region ALBUM */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    
}

.album {
    width: calc(100% / 6 - 1rem);
    aspect-ratio: 1 / 1;
    text-align: center;
}

.debug .album {
    background-color: red;
}

.album h6:hover{
    text-decoration: underline;
}

.container_album {
    max-width: 1440px;
    padding-left: 1.5rem;
    padding-bottom: 85px;
}

.music {
    overflow-y: auto;
    height: calc(100% - 60px);
}

.album img{
    max-width: 100%;
}

.album h4{
    color: white;
    padding: 0.5rem 0; 
    font-size: 0.8rem;
}

.album h6{
    color:#767a81 ;
}


.consiglio{
    color: #767a81;
    margin-bottom: 1rem;
}

.played{
    padding-bottom: 1.5rem;
}

.circle_photo{
    border-radius: 50%;
}

/* #endregion ALBUM */

/* #endregion MAIN JUMBO */

/* #region FOOTER */
.player{
    width: 100vw;
    background-color: #282828;
    height:85px ;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

/* #region BRANO */
.brano img{
    height: 3rem;
    padding-right: 1rem;
    
}

.brano {
    color: white;
    display: flex;
    align-items: center;
    width: 30%;
}

.canzone{
    display: inline-block;
    padding-right: 2rem ;
}

.canzone h6{
    color: #a3a3a3;
}

.brano i{
    color: #a3a3a3;
    padding-right: 0.5rem;
}

.canzone h6:hover{
    text-decoration: underline;
}
/* #endregion BRANO */

/* #region RIPRODUZIONE */

 
    .riproduzione{
      width:35% ;
    margin: 1rem 0;
    position: relative;
    
    
    }

    .tasti{
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .riproduzione i{
        color: white;
        padding-left: 1rem;
    }

    .secondi_totali{
        background-color:#5A5A5A ;
        height: 3px;
        width: 100%;
    }

    .riproduzione::before{
        content: "0:25";
        color: white;
        position: absolute;
        bottom: 0.6em;
        left: -10%; 
        font-size: 0.8rem;    
    }

    .riproduzione::after{
        content: "4:35";
        color: white;
        position: absolute;
        bottom: 0.6em;
        right: -10%; 
        font-size: 0.8rem;    
    }

    .circle{
        position: absolute;
        background-color: #a3a3a3;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        bottom: 0.6rem;
        left: 20%;
        opacity: 0;

    }
    
    .secondi{
       background-color:#a3a3a3 ;
       width: 20%;
       height: 100%;
       
    }



    .riproduzione:hover .secondi{
        background-color: #1db954;
    }

    .riproduzione:hover .circle{
        opacity: 1;
        background-color: white;
    }

 

/* #endregion RIPRODUZIONE */

/* #region VOLUME */
.volume{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    padding-right: 3rem;
    position: relative;
}

.volume i{
    color: white;
    padding-left: 1rem;
    font-size: 0.8rem;
}

.volume_totale{
    background-color: #5A5A5A;
    height: 3px;
    width: 30%;
    margin-left: 1rem;
}

.volume_attuale{
    background-color: #a3a3a3;
    height: 100%;
    width: 30%;
    position: relative;
}

.volume:hover .volume_attuale{

    background-color:  #1db954;
   }
   
.volume:hover .circle_volume{
    opacity: 1;
    background-color: white;
   }

.circle_volume{
    position: absolute;
    background-color: #a3a3a3;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    bottom: -0.2rem;
    right: -0.2rem;
    opacity: 0;
}




/* #endregion VOLUME */


/* #endregion FOOTER */

/* #region RESPONSIVE */

@media screen and (max-width: 768px) {
    .container{
        display: flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    font-size: 0.6rem;
    }

    .album{
        width: calc(100% / 4 - 1rem);
    }

    .riproduzione{
        width: 30%;

    }

    .riproduzione::after{
        right: -18%;
    }

    .riproduzione::before{
        left: -18%;
    }

    .brano i{
      padding-left: 0.5rem;
      padding-right: 0;
    }
    .brano img{
        padding-right: 0.5rem;
    }

    .canzone{
        padding-right: 0;
    }

    .main_menu span{
        font-size: 0.8rem;
    }

    .nome_playlist{
        line-height: 1rem;
    }

    .aggiungi{
        padding: 0.2rem 0.5rem;
    }

    #installa{
        margin-top: 20%;
    }
}

@media screen and (max-width: 568px) {
    .album{
        width: calc(100% / 2 - 1rem);
    }

    .riproduzione {
        width: 25%;
    }

    .riproduzione i {
       padding-left: 0.5rem;
    }

    .riproduzione::before{
        bottom: 1em;
        font-size: 0.6rem;
        left: -22%;
    }

    .riproduzione::after{
        bottom: 1em;
        font-size: 0.6rem;
        right: -22%;
    }

    .volume i{
        padding-left: 0.5rem;
    }

    .nome_playlist{
        margin-top: 0.5rem;
    }

    #installa {
        margin-top: 25%;
    }
}

@media screen and (max-width: 425px) {
    .upgrade button{
        padding: 0.3rem 0.8rem;
        font-size: 0.6rem;
    }

    .main_menu span, .main_menu hr, .main_menu .playlist, .main_menu p, .navigazione img, .logo{
        display: none;
    }

    .main_menu{
        width: 50px;
    }

    .upgrade{
        width: calc(100vw - 50px);
        height: 60px;
    }

    .jumbo{
        padding-left: 50px;
        margin-left: 0;
    }

    .riproduzione i {
        padding-left: 0.2rem;
        font-size: 0.7rem;
    }

    .riproduzione {
        width: 20%;
    }

    .brano i {
        padding-left: 0.2rem;
        font-size: 0.6rem;
    }

    .brano img{
        height:2rem ;
    }

    .brano h5, .brano h6{
        font-size: 0.6rem;
    
    }
    
    .canzone{
        width: 25%;
    }

    .volume i{
      font-size: 0.6rem;
    }

    .volume{
        padding-right: 2rem;
    }

    .riproduzione::before{
        left: -30%;
    }

    .riproduzione::after{
        right: -30%;
    }

    .xs_display{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 85px);
        text-align: center;
    }

    .logo_sm{
        filter: invert();
        padding: 1rem 0;
    }

    .xs_display img{
        height: 1.5rem;
    }

    .icone_download .arrow{
       font-size: 0.5rem;
       margin-left: 1rem;
    }

    .icone_download .user{
      margin: 1rem 1rem 0.5rem 1rem;
      
    }

            
}
/* #endregion RESPONSIVE */
